// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// タスク一覧

.app_home_tile {
  margin: 20px 0 30px 0;
}

.tasks_new {
  margin: 30px;
}

.search {
  margin-bottom: 30px;
}

.pagination {
  justify-content: center;
}

.status_select {
  height: 30px;
}

.priority_select {
  height: 30px;
}

.table {
  table-layout: fixed;
}

// タスクの登録

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.btn-primary {
  margin-left: 10px;
  width: 120px;
}

.btn-secondary {
  margin-top: 30px;
  margin-left: 10px;
  width: 120px;
}
